	body{
		overflow-x:auto; 
		overflow-y:auto;
		background-color: #f0f0f0;
	}

	header{
		background-color: #3d3e55;
		width: 100%;
		height: 200px;
		display: inline-block;
		margin-top: -1%; 
		font-family:Helvetica, sans-serif;
		font-size: 12px;
	}

	#nav_eleve{
		background-color: #3d3e55;
		font-family: Helvetica, sans-serif;
		font-size: 12px;
		color:white;
		margin-bottom: 0.2%;
		width: 100%;
		padding-top: 2px;
		padding-bottom: 2px;
	}

	td a.lien_cellule
	{
		display : block;
		height: 100%;
	}

	#tab_nav_eleve td:hover{
		background-color: #1e1c1c;
	}


	#tab_nav_eleve td{
		border:solid 1px black	;
		border-radius: 10px;
		padding-left:1%;
		padding-right:1%; 
		width: 30%;
		background-color: #322f30;
	}


	footer{
		width: 1170px;
		background-color: #3d3e55;
		border-top: 4px solid #ebebeb;
		font-family:Helvetica, sans-serif;
		display: table;
		table-layout: fixed;
		list-style-type: none;
		font-size: 12px;
		margin: auto;
	}

	a{
		color: white;
		text-decoration: none;
	}

	#univ-link{
		/*clear: both;*/
		float: left;
		margin-left: 10%;
		margin-top: 2.5%;
	}

	#univ-link > a{
		margin-left: 5px;
		margin-right: 50px;
	}

	#ico-header{
		/*clear: both;*/
		float: right;
		margin-right: 5%;
		text-align: right;
	}

	#ico-header > table{
		border-spacing: 8px;
		float: right;
	}

	#ico-header > tr{
		margin-right: 3px;
		margin-left: 3px;
	}

	#content{
		margin: auto;
		background-color: #3d3e55;
		width: 1170px;
		padding-top: 1%;
		padding-bottom: 1%;
	}

	#mini-footer{
		background-color:#3d3e55;
		color: #ffffff;
		border-top: 2px solid #ebebeb;
		text-align: center;
		font-size: 12px;
		line-height: 16px;
		padding: 4px 0px;
		margin: 0;
	}

	#table-footer{
		width: 100%;
		margin: auto;
		margin-right:5%;
		margin-left:5%;  
		padding: auto;
		border-spacing: 3%;
		line-height: 250%;
	}

	#ent{
		display: none;
	}

	#bu{
		display: none;
	}

	#annuaire{
		display: none;
	}

	#agenda{
		display: none;
	}

	#login{
		margin: auto;
		text-align: center;
		color: #ffffff;
		width: 300px;
		border:solid;
		border-color: black;
		border-spacing: 20px;
		border-radius: 10px;
		background-color: #777788;
	}

	#ent #bu #anuaire #agenda{
		margin-bottom: -200%;
	}

	#tableauNote tr td{
		border : 1px solid white;
		width: 20%;
	}

	#tableauNote{
		color: white;
		border : 2px solid white;
		background-color: #322f30;
		margin : auto;
		width: 90%;
	}

		#tableauProf tr td{
		border : 1px solid white;
		width: 20%;
	}

	#tableauProf{
		color: white;
		border : 2px solid white;
		background-color: #322f30;
		margin : auto;
		width: 90%;
	}

	#module{
		margin-left: 5%;
	}