<footer id="footer">
	<div id="menu-footer">
		<table id="table-footer"><tr>
			<td valign="top"><div id="foot-1">
				<h3><a href="http://iut.univ-reunion.fr/footer/nos-plateformes/">NOS PLATEFORMES</a></h3>
				<li><a href="http://moodle.univ-reunion.fr/" target="_blank">Moodle</a></li>
				<li><a href="http://podcast.univ-reunion.fr/" target="_blank">Podcast</a></li>
				<li><a href="http://c2i.univ-reunion.fr/" target="_blank"><img src="css/C2i_logo.png"> C2i</a></li>
			</div></td>

			<td valign="top"><div id="foot-2">
				<h3><a href="http://iut.univ-reunion.fr/footer/nos-plateformes/">RESSOURCES</a></h3>
				<li><a href="http://adeweb.univ-reunion.fr/" target="_blank">Agenda</a></li>
				<li><a href="http://www.univ-reunion.fr/index.php?id=10" target="_blank">Annuaire</a></li>
				<li><a href="http://bu.univ-reunion.fr/" target="_blank">Bibliotèques</a></li>
				<li><a href="http://maisondeslangues.univ-reunion.fr/" target="_blank">Maison des langues</a></li>
			</div></td>

			<td valign="top"><div id="foot-3">
				<h3><a href="http://iut.univ-reunion.fr/footer/acces-directs/">ACCÈS DIRECTS</a></h3>
				<li><a href="http://iut.univ-reunion.fr/formations/">Les formations</a></li>
				<li><a href="http://iut.univ-reunion.fr/departements/">Les départements</a></li>
				<li><a href="http://calendrier.univ-reunion.fr/" target="_blank">Calendrier événementiel</a></li>
				<li><a href="http://iut.univ-reunion.fr/english/"><img src="css/english_logo.jpg"> IUT English website</a></li>
			</div></td>

			<td valign="top"><div id="foot-4">
				<h3><a href="http://iut.univ-reunion.fr/footer/restez-connecte/">RESTEZ CONNECTÉ</a></h3>
				<li><a href="http://www.facebook.com/iutsaintpierrelareunion?ref=hl"><img src="css/facebook_logo.png" target="_blank"> Facebook</a></li>
				<li><a href="http://www.youtube.com/channel/UCGB0aYGdK9YbMicJQMkqByw"><img src="css/yt_logo.png" target="_blank"> Chaine YouTube</a></li>
				<li><a href="http://www.linkedin.com/company/10221508?trk=tyah&trkInfo=clickedVertical%3Ashowcase%2CclickedEntityId%3A10221508%2Cidx%3A1-1-1%2CtarId%3A1445427710958%2Ctas%3AIUT%20de%20la%20r%C3%A9union" target="_blank"><img src="css/in_logo.png"> Linked In</a></li>
				<li><a href="http://www.viadeo.com/fr/company/iut-de-la-reunion"><img src="css/viadeo_logo.png" target="_blank"> viadeo</a></li>
			</div></td>
		</tr></table>
	</div>

	<div id="mini-footer">
		© Université de la Réunion |<a href="http://iut.univ-reunion.fr/mini-footer/nous-contacter/"> Nous contacter</a>
		| <a href="http://elgebar.univ-reunion.fr/login?url=http://intranet.univ-reunion.fr">Intranet</a>
		| <a href="http://iut.univ-reunion.fr/mini-footer/informations-legales/">Informations légales</a>
	</div>

</footer>