<header>
	<div id="ico-header">
		<table><tr>
			<td><a href="http://ent.univ-reunion.fr/"><img src="css/folder_logo.png" onmouseenter="afficher('ent')" onmouseout="cacher('ent')"><div id="ent">ENT</div></a></td>
			<td><a href="http://bu.univ-reunion.fr/"><img src="css/bu_logo.png" onmouseenter="afficher('bu')" onmouseout="cacher('bu')"><div id="bu">BU</div></a></td>
			<td><a href="http://www.univ-reunion.fr/index.php?id=10"><img src="css/annuaire_logo.png" onmouseenter="afficher('annuaire')" onmouseout="cacher('annuaire')"><div id="annuaire">Annuaire</div></a></td>
			<td><a href="http://adeweb.univ-reunion.fr/"><img src="css/agenda_logo.png" onmouseenter="afficher('agenda')" onmouseout="cacher('agenda')"><div id="agenda">Agenda</div></a></td>
		</tr></table>
	</div>
	<div id="univ-link">
		<a href="http://www.univ-reunion.fr/"><img src="css/univ_logo.png" id="univ_logo"></a>
		<a href="http://iut.univ-reunion.fr/"><img src="css/iut_logo.png" id="iut_logo"></a>
	</div>
</header>